body{
  margin: 0;
  padding: 0;
  background-color: pink;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poiret One', cursive;
  
}


.game{
  display: flex;
  background-color: rgba(149, 17, 145, 0.7);
}


.card{
  width: 160px;
  height: 120px;
  background-color: blueviolet;
  border-left: solid rebeccapurple 10px;
  border-right: solid rgb(121, 61, 181) 10px;
  border-top: solid rgb(125, 64, 186) 10px;
  border-bottom: solid rgb(85, 42, 128) 10px;
  text-align: center;
  font-size: 50px;
  margin: 5px;
  padding: 10px;
  line-height: 120px;
}