body{
  margin: 0;
  padding: 0;
  background-color: pink;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poiret One', cursive;
  
}


.game{
  display: flex;
  background-color: rgba(149, 17, 145, 0.7);
  justify-content: center;
  align-items: center;
}


.card{
  width: 160px;
  height: 120px;
  background-color: blueviolet;
  border-left: solid rebeccapurple 10px;
  border-right: solid rgb(121, 61, 181) 10px;
  border-top: solid rgb(125, 64, 186) 10px;
  border-bottom: solid rgb(85, 42, 128) 10px;
  text-align: center;
  font-size: 50px;
  margin: 5px;
  padding: 10px;
  line-height: 120px;
}

.choice-one{
  background-color: rgb(243, 190, 225);
}
.choice-two{
  background-color: rgb(243, 165, 217);
}
.choice-three{
  background-color: rgb(243, 190, 225);
}
.choice-four{
  background-color: rgb(243, 165, 217);
}

.genre-title{
 background-color: rgb(232, 97, 187);
 text-align: center;
 font-size: 100%;
 font-weight: bolder;
 padding: 5px;
 margin: 4px;
}

.correct-answer {
  background-color: rgba(15, 240, 237, 0.6);
}

.wrong-answer {
  background-color: rgba(198, 16, 31, 0.6);
}