body{
  background-color: pink;
  color: whitesmoke;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poiret One', cursive;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  
}

section {
  display: inline;
}
.game{
  display: flex;
  background-color: rgba(149, 17, 145, 0.7);
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

h1{
  font-size: 42px;
  color:aquamarine;
}

h2{
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: -4px 4px #ef3550,
  -8px 8px #f48fb1,
  -12px 12px #7e57c2,
  -16px 16px #2196f3,
  -20px 20px #26c6da;
}


.card{
  width: 140px;
  height: 85px;
  background-color: blueviolet;
  border-left: solid rebeccapurple 10px;
  border-right: solid rgb(121, 61, 181) 10px;
  border-top: solid rgb(125, 64, 186) 10px;
  border-bottom: solid rgb(85, 42, 128) 10px;
  text-align: center;
  font-size: 50px;
  margin: 5px;
  padding: 10px;
  line-height: 100px;
  transition: all 900ms ease-in-out;
}



.genre-title{
 background-color: rgb(232, 97, 187);
 text-align: center;
 font-size: 90%;
 padding: 8px;
 margin: 5px;
}
.choice-one{
  background-color: rgb(243, 190, 225);
}
.choice-two{
  background-color: rgb(243, 165, 217);
}
.choice-three{
  background-color: rgb(243, 190, 225);
}
.choice-four{
  background-color: rgb(243, 165, 217);
}



.modal-container {
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 1;
  transition: all 900ms ease-in-out;
}

.modal-guts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60% 20% 20%;
  align-items: center;
  text-align: center;
}

.card-text{
  font-size: 36px;
  grid-row: 1;
  grid-column: 1 / span 2;
  margin-bottom: 5%;
}

button{
  display: flex;
  flex-direction: row;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
#modal {
  background-color: rgba(250, 250, 250, 0.25);
  background:radial-gradient(circle, rgba(199, 189, 196, 0.855) 5%, transparent 90%) rgb(191, 33, 149);
  backdrop-filter: blur(8px);
  box-shadow: -5px 0px 29px 9px rgba(160, 63, 139, 0.66) inset;
  padding: 8%;
  border-radius: 26px;
  margin: 10vh 14.7em;
  width: 725px;
  transition: all 900ms ease-in-out;
  align-items: center;
}

.hidden {
  opacity: 0;
  display: none;
  transition: all 900ms ease-in-out;
}


.card:hover {
  filter: brightness(1.3);
  transform: scale(1.16);
  transition: 300ms ease-in-out;
}

button:hover {
  filter: brightness(1.3);
  transform: scale(1.16);
  transition: 300ms ease-in-out;
}

.emptyCard{
  pointer-events: none;
}
